# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 9d3bf143dbc5c52098ac334fc8a89707cca5bc156bfafd7e578f47aaa6d03333d2fc16f86d675e5fb90f2ddb572d2dea166514289c0dccbc36751027dae1164e

test:
  secret_key_base: 35e210b2536a75c51b59d7ea9ef2f2df0e987e11dd5e153a077b3699e3599d8c4fdaeb7bf4a7ccde8f670a4dec69a4113c3c2b1afa0f7cdd93f76c35717b5ecb

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
